<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
         body{
    
    width: auto;
    
    }
    .gallery-text {
    
    float: left;
    width: 30%;
    margin: 5%;
    }
    .gallery-images {
    display : flex;
    flex-direction : row;
    
    
    
    margin: 1%;
    }
    .preview-input-zone{
    
    width: 400px;
    height: 250px;
    gap: 2px;
    
    background-size: cover;
    }
    .preview-output-zone{
   
    width: 400px;
    height: 250px;
    gap: 10px;
    
    background-size: cover;
    }
    
    .container {
    position: fixed;
    display: flex;
    bottom: 0;
    width: 100%;
}
    </style>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script> -->
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->
<!------ Include the above in your HEAD tag ---------->
</head>

<body>
    
    <div class="gallery-text">
        <h3><a href="javascript:void(0)" onclick="$('#pro-image-input').click()" >Upload Input Folder</a></h3>
        <input type="file" id="pro-image-input" name="pro-image-input" style="display: none;" class="form-control" webkitdirectory  >
     
        <button><a href="#" onclick="ShowInImage()">ShowImages</a></button>
        <div class="preview-input-zone"></div>   
    </div>
    <!-- webkitdirectory mozdirectory -->
    <div class="gallery-text">
        <h3><a href="javascript:void(0)" onclick="$('#pro-image-output').click()" >Upload Output Folder</a></h3>
        <input type="file" id="pro-image-output" name="pro-image-output" style="display: none;" class="form-control" webkitdirectory >
        <button><a href="#" onclick="ShowOutImage()">ShowImages</a></button>
        <div class="preview-output-zone"></div>
        
       
        
    </div>
    <div class="container">
                            
        <ul class="pager">
            <li class="previous"><a href="#"onclick="PreviousImage()">Previous</a></li>
            <li class="next"><a href="#"onclick="NextImage()">Next</a></li>
        </ul>
    </div> 
            
   

    
</body>
<script>
    $(document).ready(function() {
    document.getElementById('pro-image-input').addEventListener('change', SaveInputImagesInArray);
    
    
    
    $(document).on('click', '.image-cancel', function() {
        let no = $(this).data('no');
        $(".preview-image.preview-show-"+no).remove();
    });
});

   

$(document).ready(function() {
    document.getElementById('pro-image-output').addEventListener('change', SaveOutputImagesInArray);
    
    $(".preview-output-zone" ).sortable();
    $(document).on('click', '.image-cancel', function() {
        let no = $(this).data('no');
        $(".preview-image.preview-show-"+no).remove();
    });
});

    


//save input images
var Inimagefiles=[]
function SaveInputImagesInArray(){
    if (window.File && window.FileList && window.FileReader) {
        var files = event.target.files; //FileList object
        for (let i = 0; i <=files.length ; i++) {
            var file = files[i];
            Inimagefiles.push(file);
        }
        

console.log(Inimagefiles)
}
SortFiles(Inimagefiles);

};


// sorting file object arrays

function SortFiles(inputarray){
    inputarray.sort(function(a, b){
    var a1= a.size, b1= b.size;
    if(a1== b1) return 0;
    return a1> b1? 1: -1;
});
};

    



//save output images
var Outimagefiles=[]
function SaveOutputImagesInArray(){
    if (window.File && window.FileList && window.FileReader) {
        var files = event.target.files; //FileList object
        for (let i = 0; i <=files.length ; i++) {
            var file = files[i];
            Outimagefiles.push(file);
        }
        

}
SortFiles(Outimagefiles);

};


// read and display images
function ShowInImage() {
    console.log('run show started')
   //FileList object
var input = $(".preview-input-zone");

for (let i = 0; i <= Inimagefiles.length ; i++) {
   var file = Inimagefiles[i];
   console.log(file);
   
   if (!file.type.match('image')) continue;
   
   var picReader = new FileReader();
   
   picReader.addEventListener('load', function (event) {
       var picFile = event.target;
       var html =  '<div class="preview-image preview-show-' + i + '">' +
                   '<div class="image-cancel" data-no="' + i + '">x</div>' +
                   '<div class="image-zone"><img id="pro-img-' + i + '" src="' + picFile.result + '"></div>' ;
                   // +
                   // '<div class="tools-edit-image"><a href="javascript:void(0)" data-no="' + num + '" class="btn btn-light btn-edit-image">edit</a></div>' +
                   // '</div>';


       input.append(html);
       
       
   });

   picReader.readAsDataURL(file);
}

$("#pro-image").val('');

}

// read and display images
function ShowOutImage() {
   console.log('run started')
   //FileList object
    var output = $(".preview-output-zone");
    console.log(output)
    
    for (let i = 0; i <= Outimagefiles.length ; i++) {
        var file = Outimagefiles[i];
        console.log(file)
        if (!file.type.match('image')) continue;
        
        var picReader = new FileReader();
        
        picReader.addEventListener('load', function (event) {
            var picFile = event.target;
            var html =  '<div class="preview-image preview-show-' + i + '">' +
                        '<div class="image-cancel" data-no="' + i + '">x</div>' +
                        '<div class="image-zone"><img id="pro-img-' + i + '" src="' + picFile.result + '"></div>' ;
                        // +
                        // '<div class="tools-edit-image"><a href="javascript:void(0)" data-no="' + num + '" class="btn btn-light btn-edit-image">edit</a></div>' +
                        // '</div>';'<div class="image-cancel" data-no="' + i + '">x</div>' +

            output.append(html);
            
            
        });

        picReader.readAsDataURL(file);
    }

    $("#pro-image").val('');

}

var StartNextImgBatch =20
var EndNextImgBatch =39

function PreviousImage(){
    
    PreviousinImage();
   
    PreviousoutImage();


}
function NextImage(){
    NextinImage();
    NextoutImage();

}
// NEXT input IMAGES FUNCTION
function NextinImage() {
    var output = $(".preview-input-zone");
     // get the old images and removing it
    for (let i = 0; i <=20 ; i++) {
            $(".preview-image.preview-show-"+i).remove();
        }

    for (let i=StartNextImgBatch;i<EndNextImgBatch;i++){
        $(".preview-image.preview-show-"+i).remove();
    };
  
    SortFiles(Inimagefiles);
    for (let i = StartNextImgBatch; i < EndNextImgBatch; i++) {
        
        var file = Inimagefiles[i];
        
        if (!file.type.match('image')) continue;
        
        var picReader = new FileReader();
        
        picReader.addEventListener('load', function (event) {
            var picFile = event.target;
            var html =  '<div class="preview-image preview-show-' + StartNextImgBatch + '">' +
                        '<div class="image-cancel" data-no="' + StartNextImgBatch + '">x</div>' +
                        '<div class="image-zone"><img id="pro-img-' + StartNextImgBatch + '" src="' + picFile.result + '"></div>' ;
                        // +
                        // '<div class="tools-edit-image"><a href="javascript:void(0)" data-no="' + num + '" class="btn btn-light btn-edit-image">edit</a></div>' +
                        // '</div>';

            output.append(html);
            
            
        });

        picReader.readAsDataURL(file);
    }
    StartNextImgBatch = StartNextImgBatch + 20 ;
    EndNextImgBatch=  EndNextImgBatch + 20 ;
   
    $("#pro-image").val('');
    
console.log(StartNextImgBatch,EndNextImgBatch);
}

// PREVIOUS input IMAGES FUNCTION
function PreviousinImage() {
     // get the old images and removing it
    var output = $(".preview-input-zone");
    for (let i=StartNextImgBatch;i<EndNextImgBatch;i++){
        $(".preview-image.preview-show-"+i).remove();
    };

    SortFiles(Inimagefiles);
    for (let i = EndNextImgBatch; i >=StartNextImgBatch ; i--) {
        
        var file = Inimagefiles[i];
        
        if (!file.type.match('image')) continue;
        
        var picReader = new FileReader();
        
        picReader.addEventListener('load', function (event) {
            var picFile = event.target;
            var html =  '<div class="preview-image preview-show-' + EndNextImgBatch + '">' +
                        '<div class="image-cancel" data-no="' + EndNextImgBatch + '">x</div>' +
                        '<div class="image-zone"><img id="pro-img-' + EndNextImgBatch + '" src="' + picFile.result + '"></div>' ;
                        // +
                        // '<div class="tools-edit-image"><a href="javascript:void(0)" data-no="' + num + '" class="btn btn-light btn-edit-image">edit</a></div>' +
                        // '</div>';

            output.append(html);
            
            
        });

        picReader.readAsDataURL(file);
    }
    
    $("#pro-image").val('');
    StartNextImgBatch = StartNextImgBatch - 20 ;
    EndNextImgBatch=  EndNextImgBatch - 20 ;
    console.log(StartNextImgBatch,EndNextImgBatch)
    

}
// NEXT output IMAGES FUNCTION
function NextoutImage() {
    var output = $(".preview-output-zone");
     // get the old images and removing it
    for (let i = 0; i <=20 ; i++) {
            $(".preview-image.preview-show-"+i).remove();
        }

    for (let i=StartNextImgBatch;i<EndNextImgBatch;i++){
        $(".preview-image.preview-show-"+i).remove();
    }
  
  
    SortFiles(Outimagefiles);
    for (let i = StartNextImgBatch; i < EndNextImgBatch; i++) {
        
        var file = Outimagefiles[i];
        
        if (!file.type.match('image')) continue;
        
        var picReader = new FileReader();
        
        picReader.addEventListener('load', function (event) {
            var picFile = event.target;
            var html =  '<div class="preview-image preview-show-' + StartNextImgBatch + '">' +
                        '<div class="image-cancel" data-no="' + StartNextImgBatch + '">x</div>' +
                        '<div class="image-zone"><img id="pro-img-' + StartNextImgBatch + '" src="' + picFile.result + '"></div>' ;
                        // +
                        // '<div class="tools-edit-image"><a href="javascript:void(0)" data-no="' + num + '" class="btn btn-light btn-edit-image">edit</a></div>' +
                        // '</div>';

            output.append(html);
            
            
        });

        picReader.readAsDataURL(file);
    }
    StartNextImgBatch = StartNextImgBatch + 20 ;
    EndNextImgBatch=  EndNextImgBatch + 20 ;
   
    $("#pro-image").val('');
    
console.log(StartNextImgBatch,EndNextImgBatch);
}

// PREVIOUS  output IMAGES FUNCTION
function PreviousoutImage() {
     // get the old images and removing it
    var output = $(".preview-output-zone");
    for (let i=StartNextImgBatch;i<EndNextImgBatch;i++){
        $(".preview-image.preview-show-"+i).remove();
    };

    SortFiles(Outimagefiles);
    
    for (let i = EndNextImgBatch; i >=StartNextImgBatch ; i--) {
        
        var file = Outimagefiles[i];
        
        if (!file.type.match('image')) continue;
        
        var picReader = new FileReader();
        
        picReader.addEventListener('load', function (event) {
            var picFile = event.target;
            var html =  '<div class="preview-image preview-show-' + EndNextImgBatch + '">' +
                        
                        '<div class="image-zone"><img id="pro-img-' + EndNextImgBatch + '" src="' + picFile.result + '"></div>' ;
                        // +
                        // '<div class="tools-edit-image"><a href="javascript:void(0)" data-no="' + num + '" class="btn btn-light btn-edit-image">edit</a></div>' +
                        // '</div>';

            output.append(html);
            
            
        });

        picReader.readAsDataURL(file);
    }
    
    $("#pro-image").val('');
    
    

}

</script>
</html>
