<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        section{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        flex-direction: column;
        min-height: 100vh;
        }

        #display_image{
        width: 2000px;
        height: 200px;
        background-size: cover;
        }
        .gallery-text {
    
        float: left;
        width: 30%;
        margin: 1%;
        }
    </style>
</head>

<body>
<section>
    <h1> select input files</h1>
    <input id="file-input1" type="file"webkitdirectory mozdirectory>
    
    <div class="gallery-text">
        <button onclick=ShowInput()>SHOW IMAGES</button>
        <button>PREVIOUS</button>
        <button>NEXT</button>
        
    </div>
    
    <div id="display_image"></div>
    
</section>
<section>
   
</section>
    
    
</body>
<script>
   // preview input images
   function previewInput() {

var preview1 = document.querySelector('#display_image');


if (this.files) {
[].forEach.call(this.files, readAndPreview);
}

function readAndPreview(file) {

// Make sure `file.name` matches our extensions criteria
if (!/\.(jpe?g|png|gif)$/i.test(file.name)) {
    return alert(file.name + " is not an image");
} // else...

var reader = new FileReader();

reader.addEventListener("load", function() {
    var image = new Image();
    image.height = 200;
    image.title  = file.name;
    image.src    = this.result;
    preview1.appendChild(image);
});

reader.readAsDataURL(file);

}

}

document.querySelector('#file-input1').addEventListener("change", previewInput);


</script>

</html>





















<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body id="imgs">
    <div>
        {% block content %}
            <h2>this is home page</h2>
            <input type="file" id="filepicker" name="fileList" webkitdirectory multiple />
            <ul id="listing"></ul>
            <p id="testingForImages"></p>
            <div id="preview1"></div> 
            </div>


        {% endblock %}
    </div>
   
</body>
<script>
    document.getElementById("filepicker").addEventListener("change", function(event) {
  let output = document.getElementById("listing");

//   testing imgs
//   var images=document.getElementById('testingForImages');
//   test end
  let files = event.target.files;
  var preview1 = document.querySelector('#preview1');
  for (let i=0; i<files.length; i++) {
    // let item = document.createElement("li");
    // item.innerHTML = files[i].webkitRelativePath;
    // output.appendChild(item);

        function readAndPreview(i) {

    // Make sure `file.name` matches our extensions criteria
    if (!/\.(jpe?g|png|gif)$/i.test(i.name)) {
        return alert(i.name + " is not an image");
    } // else...

    var reader = new FileReader();

    reader.addEventListener("load", function() {
        var image = new Image();
        image.height = 100;
        image.title  = i.name;
        image.src    = this.result;
        preview1.appendChild(image);
    });

    reader.readAsDataURL(file);

    }



    // var img = new FileReader();
    // img.src = files[i];

    // var src = document.getElementById("elementid");
    // src.appendChild(img);
    

    //tried to show the images but not working
    // var img = new Image()
    // img.src = item;
    // document.getElementById('imgs').appendChild(img);

    
    
  };
}, false);

</script>

</html>

 -->
